.container,
.selectInput,
.icon,
.optionsContainer,
.option,
.checkIcon {
  display: flex;
}

.container,
.selectInput,
.optionsContainer {
  position: relative;
}

.container,
.optionsContainer {
  flex-direction: column;
}

.selectInput,
.option {
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 0.5em;
}

.selectInput,
.option,
.optionsContainer {
  width: 100%;
}

.selectInput,
.optionsContainer {
  border: 1px solid var(--color-input-border);
}

.selectInput,
.option:hover {
  background-color: var(--color-input-bg);
}

.selectInput {
  padding: 0.7em 0.8em 0.3em;
  border-radius: var(--border-radius-input);
  transition: border-color 0.2s;
}

.selectInput.active {
  border-color: var(--color-primary);
}

.selectInput.isDirty .label {
  color: var(--color-primary);
  font-size: 0.9em;
  transform: translateY(-150%);
  background-image: linear-gradient(
    to bottom,
    var(--color-form-bg),
    var(--color-input-bg)
  );
}

.label {
  font-weight: var(--font-weight-medium);
  text-transform: capitalize;
  position: absolute;
  left: 0.8em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1em;
  transition: transform 0.3s, font-size 0.3s, color 0.2s;
}

.selectText {
  font-size: var(--font-size-p);
  font-weight: var(--font-weight-medium);
}

.icon,
.checkIcon {
  align-items: center;
  justify-content: center;
}

.icon {
  font-size: 1.4em;
}

.optionsContainer,
.option {
  border-radius: var(--border-radius-form);
}

.optionsContainer {
  position: absolute;
  top: 120%;
  left: 0;
  background-color: var(--color-form-bg);
  padding: 0.5em;
  max-height: 10rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 2;
}

.optionsContainer::-webkit-scrollbar {
  display: none;
}

.option {
  padding: 0.5em 0.8em;
  transition: background-color 0.3s;
}

.checkIcon {
  opacity: 0;
  transition: opacity 0.2s;
}

.option:hover .checkIcon {
  opacity: 1;
}

.option:not(:last-of-type) {
  margin-bottom: 0.5em;
}

.error {
  margin-top: 0.5em;
  color: var(--color-error-text);
  font-size: 0.9em;
}
