.container {
  display: flex;
  align-items: flex-start;
  gap: 0.5em;
}

.input {
  accent-color: var(--color-primary);
}

.label {
  font-size: var(--font-size-small-text);
  font-weight: var(--font-weight-medium);
}

.input,
.label {
  cursor: pointer;
}

@media only screen and (min-width: 500px) {
  .input {
    transform: scale(1.2);
    margin-top: 0.2em;
  }
}
