.container {
  position: relative;
}

.label {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-h6);
  position: absolute;
  left: 0.8em;
  top: 50%;
  transform: translateY(-50%);
  z-index: var(--z-index-label);
  transition: transform 0.3s, color 0.2s, font-size 0.3s;
}

.datePicker {
  width: 100%;
  border: 1px solid var(--color-input-border);
  background-color: var(--color-input-bg);
  padding: 0.7em 0.8em 0.3em;
  border-radius: var(--border-radius-input);
  outline: none;
}

.container.isDirty .label {
  color: var(--color-primary);
  font-size: 0.9em;
  transform: translateY(-150%);
  background-image: linear-gradient(
    to bottom,
    var(--color-form-bg),
    var(--color-input-bg)
  );
}
