.container {
  display: inline-block;
  position: relative;
}

.container,
.icon {
  font-size: inherit;
}

.selectBtn,
.icon {
  display: flex;
  align-items: center;
}

.selectBtn {
  font-weight: var(--font-weight-bold);
  color: var(--color-heading);
  font-size: inherit;
}

.icon {
  justify-content: center;
  margin-left: 0.5em;
}

.optionsContainer,
.option {
  border-radius: var(--border-radius-form);
}

.optionsContainer {
  position: absolute;
  top: 150%;
  left: 0;
  font-weight: var(--font-weight-medium);
  overflow: hidden;
  background-color: var(--color-form-bg);
  padding: 0.5em;
}

.optionsList {
  max-height: 15rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.optionsList::-webkit-scrollbar {
  display: none;
}

.option {
  font-size: 0.9em;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.option:hover {
  background-color: var(--color-input-bg);
}

@media only screen and (min-width: 500px) {
  .option {
    font-size: 0.75em;
  }
}
