.container {
  position: relative;
}

.profileBtn {
  font-size: 1.4rem;
  background-color: var(--color-form-bg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
  color: var(--color-primary);
  border-radius: 50%;
}

.optionsListContainer {
  position: absolute;
  top: 130%;
  right: 0;
  border-radius: var(--border-radius-input);
  overflow: hidden;
}

.optionsList {
  max-height: 15rem;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.optionsList::-webkit-scrollbar {
  display: none;
}

.optionsList li {
  display: flex;
  flex-direction: column;
}

.option {
  background-color: var(--color-form-bg);
  white-space: nowrap;
  font-size: 0.9em;
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  padding: 0.75em 1.5em;
  transition: background-color 0.3s, color 0.2s;
  text-align: center;
}

.option:hover,
.option:active {
  background-color: var(--color-primary);
  color: var(--color-form-bg);
}

@media only screen and (min-width: 500px) {
  .profileBtn {
    font-size: 1.8rem;
  }

  .option {
    font-size: 0.8em;
  }
}
