.logo {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h6);
  margin-bottom: 1em;
}

.heading {
  color: var(--color-heading);
  font-size: var(--font-size-h4);
  margin-bottom: 2em;
}

.formControl {
  margin-bottom: 1.5em;
}


.btnContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 3.5em;
}

.btnContainer {
  flex-direction: column;
  margin-bottom: 4em;
}

.lastRow {
  font-size: var(--font-size-small-text);
}