.logo {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h6);
  margin-bottom: 1em;
}

.heading {
  color: var(--color-heading);
  font-size: var(--font-size-h4);
  margin-bottom: 2em;
}

.formControl {
  margin-bottom: 1em;
}

.iconBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {

}