.formContainer {
  margin: 4em 0;
}

.logo {
  color: var(--color-primary);
  font-weight: var(--font-weight-bold);
  font-size: var(--font-size-h6);
  margin-bottom: 1em;
}

.heading {
  color: var(--color-heading);
  font-size: var(--font-size-h4);
  margin-bottom: 2em;
}

.formControl {
  margin-bottom: 1em;
}

.formControl.columns2 {
  display: grid;
  gap: 1em;
}

.iconBtn,
.btnContainer {
  display: flex;
}

.iconBtn {
  align-items: center;
  justify-content: center;
}

.row {
  margin-bottom: 3.5em;
}

.btnContainer {
  flex-direction: column;
  margin-bottom: 4em;
}

.lastRow {
  font-size: var(--font-size-small-text);
}

@media only screen and (min-width: 600px) {
  .formControl.columns2 {
    gap: 0.5em;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
  }
}
