.inputContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input {
  border: 1px solid var(--color-input-border);
  background-color: var(--color-input-bg);
  padding: 0.7em 0.8em 0.3em;
  border-radius: var(--border-radius-input);
  outline: none;
  width: 100%;
}

.input[type="password"] {
  letter-spacing: 0.25em;
}

.input[type="number"] {
  -moz-appearance: textfield;
}

.input[type="number"]::-webkit-outer-spin-button,
.input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input.hasIcon {
  padding-right: 3.5em;
}

.label,
.iconContainer {
  position: absolute;
  top: 50%;
}

.label,
.input:placeholder-shown + .label {
  transform: translateY(-50%);
}

.label {
  left: 0.5em;
  font-size: var(--font-size-h6);
  font-weight: var(--font-weight-medium);
  transition: transform 0.3s, font-size 0.3s, color 0.2s;
  padding: 0 0.3em;
  text-transform: capitalize;
}

.input:focus + .label,
.input:valid + .label,
.input:not(:placeholder-shown) + .label {
  transform: translateY(-160%);
  background-image: linear-gradient(
    to bottom,
    var(--color-form-bg),
    var(--color-input-bg)
  );
  color: var(--color-primary);
  font-size: 0.9em;
}

.iconContainer {
  right: 0.5em;
  color: var(--color-text);
  font-size: var(--font-size-h5);
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.error {
  color: var(--color-error-text);
  margin-top: 0.3em;
  font-size: 0.9em;
}

@media only screen and (min-width: 500px) {
  .input:focus + .label,
  .input:valid + .label,
  .input:not(:placeholder-shown) + .label {
    transform: translateY(-150%);
  }
}
